.icon-btn {
    display: inline-flex;
    height: 2rem;
    align-items: center;
    padding: 6px .5rem;
    color: var(--default-tx-color) !important;
    background-color: var(--default-bg-color);
    border: solid 1px var(--btn-bd-color);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    text-decoration: none !important;
    transition: background .3s,
                box-shadow .3s;
}
.icon-btn:hover {
    background-color: var(--hovered-bg-color);
    box-shadow: var(--shadow-md-1);
}
.dark .icon-btn {
    border-width: 3px;
}

.icon-btn img {
    height: 1.6rem;
    aspect-ratio: 1;
    transition: filter .3s .15s;
}

.icon-btn span {
    transition: color .3s .15s,
                transform .3s;
}


