nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem var(--page-horizonal-padding) 2rem;
    padding: 0 8px;
    user-select: none;
}

body.dark #homepage img,
body.dark #rss-icon img,
body.dark #search-btn img {
    filter: invert(100%);
}
#rss-icon, #search-btn {
    margin-right: 6px;
}

nav .icon-btn {
    box-sizing: content-box;
}
nav .icon-btn img {
    aspect-ratio: 1;
}

#homepage {
    margin-right: 6px;
}
#homepage img {
    padding-right: .4rem;
}
#homepage span {
    font-size: 1.2rem;
    font-weight: bold;
}

nav a::before {
    content: none;
    display: unset;
}

.dark #dark-btn {
    display: none;
}
body:not(.dark) #light-btn {
    display: none;
}


