nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem var(--page-horizonal-padding) 0;
    padding: 0 8px;
    user-select: none;
}

.dark #homepage img, .dark #rss-icon img {
    filter: invert(100%);
}

nav .icon-btn img {
    aspect-ratio: 1;
}

#homepage {
    margin-right: 6px;
}
#homepage img {
    padding-right: .4rem;
}
#homepage span {
    font-size: 1.2rem;
    font-weight: bold;
}
#rss-icon {
    margin-right: 6px;
}

nav a::before {
    content: none;
    display: unset;
}

.dark #dark-btn {
    display: none;
}
body:not(.dark) #light-btn {
    display: none;
}


