@import url(./color.css);
@import url(./navigator.css);
@import url(./main.css);
@import url(./article/index.css);
@import url(./components/index.css);

body {
    --page-horizonal-padding: 10vw;
    --shadow-sm: 0 2px 1px -1px rgba(0,0,0,.2),
                 0 1px 1px 0 rgba(0,0,0,.14),
                 0 1px 3px 0 rgba(0,0,0,.12) !important;
    --shadow-md-1: 0 3px 3px -2px rgba(0,0,0,.2),
                 0 3px 4px 0 rgba(0,0,0,.14),
                 0 1px 8px 0 rgba(0,0,0,.12) !important;
    --shadow-md-2: 0 3px 5px -1px rgba(0,0,0,.2),
                 0 5px 8px 0 rgba(0,0,0,.14),
                 0 1px 14px 0 rgba(0,0,0,.12) !important;
    --shadow-lg: 0 4px 5px -2px rgba(0,0,0,.2),
                 0 7px 10px 1px rgba(0,0,0,.14),
                 0 2px 16px 1px rgba(0,0,0,.12) !important;

    margin: 0;
    background-color: var(--allpage-bg-color);
    font-family:
    /* en */ -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,
    /* zh */ PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
    transition: background .6s,
                color .3s;
}
@media screen and (max-width: 767px) {
    /* Mobile phone style */
    body {
        --page-horizonal-padding: 1.6rem;
    }
}
@media screen and (min-width: 1024px) {
    /* PC style */
    :root {
        font-size: 17px;
    }
    body {
        --page-horizonal-padding: 16vw;
    }
}

/* close shadows in dark mode */
body.dark {
    --shadow-sm:   none !important;
    --shadow-md-1: none !important;
    --shadow-md-2: none !important;
    --shadow-lg:   none !important;
}

label {
    user-select: none;
}
input {
    width: 3em;
    height: 32px;
    padding: 0 6px;
    overflow: hidden;
    color: var(--default-tx-color);
    background-color: var(--quote-bg-color);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
}
label input {
    margin-left: 4px;
}

footer {
    padding: 0 6px;
    margin-bottom: 48px;
    text-align: center;
    color: var(--default-tx-color);
}
