.table {
    width: 100%;
    margin-bottom: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid var(--shallow-bd-color);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: var(--shadow-sm);
    transition: box-shadow .3s;
}
.table:hover {
    box-shadow: var(--shadow-md-1);
}
.dark .table {
    border-width: 2px;
}

table {
    width: fit-content;
    min-width: 100%;
    color: var(--default-tx-color);
    border-collapse: separate;
    border-spacing: 0;
}

@media screen and (max-width: 767px) {
    /* Mobile phone style */
    body:not(.dark) .table {
        border-left: none;
        border-right: none;
    }
    .table {
        width: calc(100% + 3.2rem);
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        border-width: 2px;
        border-radius: 0;
    }
}

thead {
    font-weight: bold;
}

th:first-child,
td:first-child {
    padding-right: 0 !important;
}
th, td {
    min-width: 6em;
    padding: 8px 18px !important;
    font-size: .85em;
    text-align: left;
}
th {
    opacity: .85;
}
td {
    border-top: 2px solid var(--shallow-bd-color);
}
